In [1]:
import pandas as pd

In [31]:
project_data = pd.read_csv('data.csv')

In [32]:
project_data.head()

   Close_ETF       oil      gold       JPM
0  97.349998  0.039242  0.004668  0.032258
1  97.750000  0.001953 -0.001366 -0.002948
2  99.160004 -0.031514 -0.007937  0.025724
3  99.650002  0.034552  0.014621  0.011819
4  99.260002  0.013619 -0.011419  0.000855

In [33]:
project_data.mean()

Close_ETF    121.152960
oil            0.001030
gold           0.000663
JPM            0.000530
dtype: float64

In [34]:
project_data.std()

Close_ETF    12.569790
oil           0.021093
gold          0.011289
JPM           0.011017
dtype: float64

In [36]:
project_data.corr(method='pearson')

           Close_ETF       oil      gold       JPM
Close_ETF   1.000000 -0.009045  0.022996  0.036807
oil        -0.009045  1.000000  0.235650 -0.120849
gold        0.022996  0.235650  1.000000  0.100170
JPM         0.036807 -0.120849  0.100170  1.000000